{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="container">
	<div class="row">
		<div class="col-md-4 text-center">
			<form action="{{ url_for('mpd') }}" method="post">
			  <input type="submit" class="btn btn-primary" name="mpd" value= "Restart MPD"/>
			</form>
			<form action="{{ url_for('lightdm') }}" method="post">
			  <input type="submit" class="btn btn-primary" name="lightdm" value= "Stop LightDM"/>
			</form>
			<form action="{{ url_for('lightdm') }}" method="post">
			  <input type="submit" class="btn btn-primary" name="lightdm" value= "Start LightDM"/>
			</form>
		</div>
	</div>
</div>

{% endblock %}
